# Build artifacts
*.o
*.obj
*.dll
*.exe
*.lib
*.a
*.res
*.pdb
*.idb
*.ilk
*.suo
*.sdf
*.user
*.log
*.tmp

.vscode/

sample/*.exe
sample/*.dll
sample/*.res
lib/

*~
*.bak
*.swp
*.tmp

Thumbs.db
.DS_Store